*{
	border: 0;
	margin: 0;
	padding:0;
}

body{
	background-color: #DBB1CD;
}
.container{
	display:flex;
	justify-content: center; 
	height: 150vh;
}

.ticket{
	position: fixed;
	margin-top: 2rem;
	background-color: #fff; 
	height:7rem;
	width:15rem;
	box-shadow: inset 2px 2px 0px 8px #F6D155;
}
.ticket::before{
	content: '';
	position: absolute;
	border-radius: 0 100% 100% 0;
	background: #DBB1CD;
	height: 3rem;
	width:2.5rem;
	margin-top:2rem;
	margin-left: -.2rem;
}
.ticket::after{
	content: '';
	position: absolute;
	border-radius: 100% 0 0 100%;
	background: #DBB1CD;
	height: 3rem;
	width:2.5rem;
	margin-top: 2rem;
	margin-left:12.7rem; 
}

.side{
	z-index: 2;
	position: fixed;
	background-color: #fff; 
	height:5rem;
	width:10rem;
	margin-left: .1rem;
	margin-top: 2rem;	
	border-top: 10px solid #F6D155;
}
.back-line{
	z-index:1;
	position: static;
	width:3rem;
	height:100vh;
	background-color: #CE3175;
}






