*{
	border: 0;
	margin: 0;
	padding:0;
}

body{
	background-color: #DBB1CD;
	font-family: 'Lato', sans-serif;
}
.container{
	display:flex;
	justify-content: center; 
	height: 150vh;
}

.ticket{
	position: fixed;
	margin-top: 2rem;
	background-color: #fff; 
	height:7rem;
	width:15rem;
	box-shadow: inset 2px 2px 0px 8px #F6D155;
}
.ticket::before{
	content: '';
	position: absolute;
	border-radius: 0 100% 100% 0;
	background: #DBB1CD;
	height: 3rem;
	width:2.5rem;
	margin-top:2rem;
	margin-left: -.2rem;
}
.ticket::after{
	content: '';
	position: absolute;
	border-radius: 100% 0 0 100%;
	background: #DBB1CD;
	height: 3rem;
	width:2.5rem;
	margin-top: 2rem;
	margin-left:12.7rem; 
}
.side{
	z-index: 2;
	position: fixed;
	background-color: #fff; 
	height:5rem;
	width:10rem;
	margin-left: .1rem;
	margin-top: 2rem;	
	border-top: 10px solid #F6D155;
}
.side h1{
	margin-top: 1.5rem;
	text-align: center; 
	text-transform: uppercase;
}
.back-line{
	z-index:1;
	position: absolute;
	width:3rem;
	height:100vh;
	background-color: #CE3175;
}
.back-line::before{
	content:'';
	position: absolute;
	border-top:6rem solid  #CE3175;
	border-left: 5rem solid transparent;
	border-right: 5rem solid transparent; 
	margin-top:35rem;
	margin-left:-3.5rem;
}

.content{
	align-self: center;
	background-color: black;
	height: 10rem;
	width: 20rem;
	margin-left: -30rem;
}
.main{
	position: absolute;
	margin-top: 43rem;
	text-transform: uppercase;
	font-weight: 200;
}

@media only screen and (max-width:480px){
	.back-line::before{
		margin-top: 40rem;
	}
	.main{
		margin-top: 46rem;
	}
}
@media only scree and (orientation:landscape),(max-height:480px){
	.back-line::before{
		margin-top: 30rem;
	}
	.main{
		margin-top: 50rem;
	}
	.content{
		margin-top: -10rem;
	}
}

